/Library/
/Temp/
/Build/
/Logs/
/UserSettings/
/Library/PackageCache/com.unity.burst@1.8.7/.Runtime/libburst-llvm-15.dylib


/obj/
/[Bb]in/
/[Ll]ogs/
/[Ll]ibrary/
/[Tt]emp/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/UserSettings/


*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db


*.pidb.meta
*.pdb.meta
*.mdb.meta


*_Backup*


/Library/ScriptAssemblies/
/Library/ScriptMapper/

.vs/
.vscode/


.DS_Store
._*
Thumbs.db
